<template>
    <div class="wrapper">
        <h3 class="text-center">Urls</h3>
        <form @submit.prevent="addURI" class="center">
            <div class="add-url-row">
                <input v-model="url.long" class="u-full-width" type="text" placeholder="add url" id="urlInput">
                <button type="submit">Add</button>
            </div>
        </form>
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Full</th>
                    <th>Short</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="uri in uris">
                    <td>{{uri.long}}</td>
                    <td>{{uri.short}}</td>
                    <td @click="removeURI(uri)" class="remove-link">
                        <i class="fa fa-trash-o" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    created: function() {
        this.$store.dispatch("findURI")
    },
    computed: {
        uris() {
            return this.$store.getters.urlList
        }
    },
    data: function() {
        return {
            url: {
                long: ""
            }
        }
    },
    methods:{
        addURI() {
            this.$store.dispatch("addURI", this.url)
        },

        removeURI(uri) {
            this.$store.dispatch("removeURI", uri)
        }
    }
}
</script>

<style>
    .text-center {
        text-align: center;
    }
</style>
<style scoped>
    button {
        margin-left: 1em;
    }
    
    .add-url-row {
        display: flex;
        width: 100%;
    }
    
    .remove-link {
        color: salmon;
        cursor: pointer;
    }
    
    .wrapper {
        margin: 5em auto;
        width: 80%;
    }
</style>