<template>
    <form @submit.prevent="authenticate()" class="center">
        <h3 v-if="isSignUp">Sign Up for free</h3>
        <h3 v-if="!isSignUp">Welcome Back!</h3>
        <div class="row">
            <label for="emailInput">Your email</label>
            <input v-model="user.email" class="u-full-width" type="email" placeholder="you@provider.domain" id="emailInput">
        </div>
        <div v-if="isSignUp" class="row">
            <label for="nameInput">Your name</label>
            <input v-model="user.name" class="u-full-width" type="text" placeholder="name" id="nameInput">
        </div>
        <div class="row">
            <label for="passwordInput">Your password</label>
            <input v-model="user.password" class="u-full-width" type="password" placeholder="password" id="passwordInput">
        </div>
        <div class="row">
            <button class="button-primary" type="submit">
                <span v-if="!isSignUp">Sign In</span>
                <span v-if="isSignUp">Sign Up</span>
            </button>
            <router-link v-if="isSignUp" to="/sign-in" @click.native="toSignIn()" class="auth-link">Sign In Instead >></router-link>
            <router-link v-if="!isSignUp" to="/sign-up" @click.native="toSignUp()" class="auth-link">Sign Up Instead >></router-link>
        </div>
    </form>
</template>
<script>
export default {
    data: function () {
        return {
            isSignUp: /sign-up/i.test(this.$route.path),
            user: {
                email: "",
                name: "",
                password: ""
            }
        }
    },
    methods: {
        authenticate() {
            this.$store.dispatch(this.isSignUp ? "signUp" : "signIn", this.user);
        },
        toSignIn() {
            this.isSignUp = false;
        },
        toSignUp() {
            this.isSignUp = true;
        }
    }
}
</script>
<style>
    body {
        color: darkslategray;
    }

    .auth-link {
        margin-left: 2em;
    }
    
    .center {
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
</style>
<style scoped>
    form {
        margin-top: 20vh;
    }
    
    .row {
        min-width: 50%;
    }
</style>